{% extends 'layout/page.html.twig' %}
{% block content %}
    {% include 'layout/navigation.html.twig' %}
    {% include 'layout/floating-title.html.twig' %}
    <div class="floating_content">
        <div class="row column">
            <div class="floating_content__inner">
                {{ ACF.get_field("tagline") | raw }}
            </div>
        </div>
    </div>
{% endblock %}