{% extends 'layout/page.html.twig' %}
{% set hide_slides = true %}
{% block content %}
    <div class="home-slider hide-for-small-only">
            <div
                    class="home-slider__slide active"
                    style="background-image: url('{{ slide.image }}'); background-size: cover;"
            >
                <div class="floating_content">
                    <div class="row column">
                        <div class="floating_content__inner">
                            {{ slide.tagline | raw }}
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="floating_content hide-for-medium">
        <div class="row column">
            <div class="floating_content__inner">
                {{ slide.tagline | raw }}
            </div>
        </div>
    </div>
    {% include 'layout/navigation.html.twig' %}
    {% include 'layout/floating-title.html.twig' %}
{% endblock %}