{% extends 'layout/page.html.twig' %}
{% block content %}
    <div class="insights__gradient hide-for-small-only"></div>
    {% include 'layout/floating-title.html.twig' %}
    {% include 'layout/navigation-alt-closed.html.twig' %}
    <div class="floating_boxed_content">
        <div class="floating_boxed_content__box large">
            <h1 class="floating_boxed_content__heading">{{ Post.title }}</h1>
            <div class="floating_boxed_content__content">
                {{ Post.content | raw }}
            </div>
        </div>
    </div>
{% endblock %}