.flags {
  background-color: #FFF;
  padding: 1rem;
  &__grid {
    .has-tip {
      width: 20%;
      margin-right: 3.2%;
      margin-bottom: 1.5rem;
      border: none;
      @include breakpoint(medium) {
        width: 12%;
        margin-right: 2.28%;
      }
      @include breakpoint(large) {
        width: 6%;
        margin-right: 1.14%;
      }
    }
    @include breakpoint(small only) {
      span:nth-child(4n + 4) {
        margin-right: 0 !important;
      }
    }
    @include breakpoint(medium) {
      width: 80%;
      float: left;
      padding-left: 0.5rem;
    }
  }
  &__partners {
    width: 20%;
    float:left;
    &__image{
      display: block;
      width: 30%;
      margin: 0 auto 1rem auto;
    }
  }
  @include breakpoint(medium) {
    padding: 0;
    width: calc(100% - 200px);
  }
}