.floating_title {
  font-family: LuxuryGold;
  &__link {
    font-size: rem-calc(48px);
    color: #FFF;
    text-transform: uppercase;
    line-height: 1;
    &:hover, &:active {
      color: $font-color;
    }
    &__sub {
      display: block;
      marin-top: -0.5rem;
      font-size: rem-calc(22px);
    }
  }
  @include breakpoint(medium){
    font-size: rem-calc(64px);
    padding-top: 4rem;
  }
}