.floating_content {
  background-color: #FFF;
  &__inner {
    background-color: #FFF;
    font-size: rem-calc(20px);
    padding: 1rem;
    p {
      margin-bottom: 0;
    }
    @include breakpoint(medium){
      font-size: rem-calc(28px);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      margin-right: 10rem;
    }
  }
  @include breakpoint(medium){
    background-color: transparent;
  }
}