.floating_boxed_content{
  &__box {
    background-color: #FFF;
    padding: 1rem;
    @include breakpoint(medium) {
      margin-top: 8rem;
      background-color: rgba(255,255,255,0.8);
      width: calc(100% - 8rem);
      max-width: 36rem;
    }
  }
  &__heading {
    font-size: rem-calc(20px);
  }
}