.floating_title {
  &__link {
    font-size: rem-calc(48px);
    color: $font-color;
    text-shadow: 0 0 0.2rem #FFF;
    &:hover, &:active {
      color: $font-color;
    }
  }
  @include breakpoint(medium){
    font-size: rem-calc(64px);
    padding-top: 4rem;
  }
}