.floating_content {
  &__inner {
    background-color: rgba(255,255,255,0.6);
    font-size: rem-calc(20px);
    p {
      margin-bottom: 0;
    }
    @include breakpoint(medium){
      font-size: 1.5rem;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      margin-right: 10rem;
      padding: 1rem;
    }
  }
  @include breakpoint(medium){
    background-color: transparent;
  }
}