.footer {
  position: relative;
  @include breakpoint(medium) {
    background-color: #FFF;
    color: $font-color;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
  }
  &__top {
    background-color: rgb(95, 138, 199);
    color: #FFF;
    text-transform: uppercase;
    a, a:hover {
      color: #FFF;
    }
  }
  &__menu {
    font-family: "LuxuryGold";
    margin-top: rem-calc(4px);
    font-size: 0.7rem;
    li {
      padding: 0.5rem;
      &:first-of-type {
        padding-left: 0;
      }
      @include breakpoint(small only) {
        padding: 0.7rem 0;
      }
    }
    li.footer__menu__divider {
      @include breakpoint(small only) {
        display: none;
      }
    }
    @include breakpoint(medium) {
      display: inline-block;
    }
    @include breakpoint(large){
      font-size: 1rem;
    }
  }
  &__link {
    text-transform: uppercase;
    color: $font-color;
    padding: 0 !important;
  }
  &__copyright {
    font-size: 12px;
    margin: 0.5rem auto;
    a {
      color: #6699cc;
    }
  }
}