.footer {
  position: relative;
  @include breakpoint(medium) {
    background-color: #FFF;
    color: $font-color;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
  }
  &__top {
    background-color: #839CA9;
    color: #FFF;
    a, a:hover {
      color: #FFF;
    }
  }
  &__menu {
    margin-top: rem-calc(4px);
    li.footer__menu__divider {
      @include breakpoint(small only) {
        display: none;
      }
    }
    @include breakpoint(medium) {
      display: inline-block;
    }
  }
  &__link {
    text-transform: uppercase;
    color: $font-color;
    @include breakpoint(small only) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    @include breakpoint(medium) {
      &.first {
        padding-left: 0;
      }
      &.right {
        padding-right: 0;
      }
    }
  }
  &__copyright {
    font-size: 12px;
    margin: 0.5rem auto;
  }
}