.insights {
  &__gradient {
    width: 35rem;
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
}