.title-bar {
  background-color: #FFF;
  text-transform: uppercase;
  &__link {
    color: $font-color;
  }
  .menu-icon::after {
    background-color: $font-color;
    box-shadow: 0 7px 0 $font-color, 0 14px 0 $font-color;
  }
}