.navigation {
  background-color: #FFF;
  font-family: LuxuryGold;
  @include breakpoint(medium){
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &__list {
    @include breakpoint(medium){
      li {
        margin-bottom: 2rem;
      }
      li:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  a {
    color: $font-color;
    text-transform: uppercase;
    &:hover, &.active:hover {
      background-color: #839CA9;
      color: #FFF;
    }
    &.active {
      background-color: #839CA9;
    }
    @include breakpoint(medium){
      color: #FFF;
    }
  }
}