.home-slider {
  top:0;
  bottom:0;
  right:0;
  left:0;
  &__slide {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    &.background {
      z-index: -1;
    }
    &.next {
      z-index: 1;
    }
    &.active {
      z-index: 2;
    }
  }
  &__bullets {
    .menu {
      position: absolute;
      z-index: 3;
      bottom: 200px;
    }
    &__list {
      padding-right: 4rem;
    }
    &__bullet {
      display: block;
      width: 48px;
      height: 48px;
      border-radius: 100%;
      background-color: rgba(255,255,255,0.6);
      &:hover, &.active {
        background-color: #FFF;
      }
    }
  }
}