.title-bar {
  background-color: #FFF;
  text-transform: uppercase;
  &__link {
    display: block;
    float: left;
    width: calc(100% - 3rem);
  }
  .menu-icon::after {
    background-color: $font-color;
    box-shadow: 0 7px 0 $font-color, 0 14px 0 $font-color;
  }
}