.top_title {
  background-color: #FFF;
  color: $font-color;
  padding: 1rem;
  &__link {
    font-size: rem-calc(64px);
    color: #FFF;
    &:hover, &:active {
      color: $font-color;
    }
  }
  &__heading {
    color: $font-color;
    font-size: rem-calc(20px);
    @include breakpoint(medium) {
      color: #FFF;
      margin-top: 1.3rem;
    }
  }
  &__content {
    color: $font-color;
    @include breakpoint(medium) {
      color: #FFF;
    }
  }
  @include breakpoint(medium) {
    background-color: transparent;
    padding-top: 4rem;
    padding-bottom: 3rem;
    padding: 0;
  }
}