.top_title {
  margin-top: 4rem;
  margin-bottom: 3rem;
  &__link {
    font-size: rem-calc(64px);
    color: #FFF;
    &:hover, &:active {
      color: $font-color;
    }
  }
  &__heading {
    color: #FFF;
    font-size: rem-calc(20px);
  }
  &__content {
    color: #FFF;
  }
}