@import "settings";
@import "foundation";
@include foundation-everything();
@import "layout/floating_title";
@import "layout/title_bar";
@import "layout/top_title";
@import "layout/absolute_title__link";
@import "layout/mobile_header";
@import "layout/floating_content";
@import "layout/floating_boxed_content";
@import "layout/article";
@import "layout/insights";
@import "layout/archives";
@import "layout/flags";
@import "layout/navigation";
@import "layout/navigation_alt";
@import "layout/footer";

// use app.scss as the base styles
html{
  height: 100%;
}
body {
  min-height: 100%;
}
body.logged-in {
  padding-top: 46px;
  @include breakpoint(783px){
    padding-top: 32px;
  }
}
body {
}

.wrapper {
  background-color: #FFF;
  color: #221F20;
  background-size: cover;
  background-position: center;
  @include breakpoint(small only) {
    background-image: none !important;
  }
  @include breakpoint(medium) {
    min-height: 100%;
    padding-bottom: 4rem;
    position: relative;
  }
}

.sticky {
  width: 100%;
  margin-top: 0 !important;
}