{% if ACF.get_field("logo") == "None" %}
{% elseif ACF.get_field("logo") == "White" %}
    <div class="floating_title hide-for-small-only">
        <div class="row column">
            <a href="{{ WP.site_uri }}" class="floating_title__link">
                <img src="{{ ACF.get_field("white_logo", "options") }}" alt="">
            </a>
        </div>
    </div>
{% elseif ACF.get_field("logo") == "Black" %}
    <div class="floating_title hide-for-small-only">
        <div class="row column">
            <a href="{{ WP.site_uri }}" class="floating_title__link">
                <img src="{{ ACF.get_field("black_logo", "options") }}" alt="">
            </a>
        </div>
    </div>
{% endif %}