<div class="floating_title hide-for-small-only">
    <div class="row column">
        <a href="{{ WP.site_uri }}" class="floating_title__link">
            Concentric
            <small class="floating_title__link__sub">Analysis. strategy. Action</small>
        </a>
    </div>
</div>