<div class="footer">
    <div class="footer__top">
        <div class="row column">
            <ul class="vertical medium-horizontal menu footer__menu">
                <li><a href="#" class="footer__link first">Seattle</a></li>
                <li class="footer__menu__divider"> | </li>
                <li><a href="#" class="footer__link">San Francisco</a></li>
                <li class="footer__menu__divider"> | </li>
                <li><a href="#" class="footer__link">415.329.6869</a></li>
                <li class="footer__menu__divider"> | </li>
                <li><a href="#" class="footer__link last">info@centricadvisors.com</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="row column footer__copyright">
            © 2016 Concentric Advisers. All rights reserved. <a href="http://www.sayenkodesign.com/" target="_blank">Seattle Web Development</a> by Sayenko Design.
            |
            <a href="#">Privacy Policy</a>
        </div>
    </div>
</div>