<div class="footer">
    <div class="row column">
        <ul class="menu simple footer__menu">
            <li><a href="#" class="footer__link">Seattle</a></li>
            <li> | </li>
            <li><a href="#" class="footer__link">San Francisco</a></li>
            <li> | </li>
            <li><a href="#" class="footer__link">415.329.6869</a></li>
            <li> | </li>
            <li><a href="#" class="footer__link">info@centricadvisors.com</a></li>
        </ul>
    </div>
</div>