<div class="footer">
    <div class="footer__top">
        <div class="row column">
            {{ ACF.get_field('footer_content', 'options') | raw }}
        </div>
    </div>
    <div class="footer__bottom">
        <div class="row column footer__copyright">
            © 2016 Concentric Advisers. All rights reserved. <a href="http://www.sayenkodesign.com/" target="_blank">Seattle Web Development</a> by Sayenko Design.
            |
            <a href="{{ ACF.get_field('privacy_policy', 'options')  }}">Privacy Policy</a>
        </div>
    </div>
</div>